@import '/hotel-miranda/styles/header.css';
@import '/hotel-miranda/styles/footer.css';
@import '/hotel-miranda/styles/blocks.css';

//Home
@import '/hotel-miranda/styles/home/section-perfect-base.css';
@import '/hotel-miranda/styles/home/section-about-us.css';
@import '/hotel-miranda/styles/home/section-luxury-room.css';
@import '/hotel-miranda/styles/home/section-hand-picked.css';
@import '/hotel-miranda/styles/home/section-intro-video.css';
@import '/hotel-miranda/styles/home/section-facilities.css';
@import '/hotel-miranda/styles/home/section-menu.css';
@import '/hotel-miranda/styles/home/section-objectives.css';

//About
@import '/hotel-miranda/styles/about/section-luxury.css';
@import '/hotel-miranda/styles/about/section-restaurant.css';
@import '/hotel-miranda/styles/about/section-slider-facilities.css';
@import '/hotel-miranda/styles/about/section-fun-facts.css';

//Rooms
@import '/hotel-miranda/styles/rooms/section-rooms-luxury.css';
@import '/hotel-miranda/styles/rooms/section-selection-rooms.css';

//Room-details
@import '/hotel-miranda/styles/room-details/section-room-avaliability.css';
@import '/hotel-miranda/styles/room-details/section-amenities.css';
@import '/hotel-miranda/styles/room-details/section-founder.css';
@import '/hotel-miranda/styles/room-details/section-cancellation.css';
@import '/hotel-miranda/styles/room-details/section-related-rooms.css';

@font-face{
    font-family: 'Archivo';
    src: url('/hotel-miranda/styles/fonts/Archivo-VariableFont_wdth\,wght.ttf');
}
@font-face {
    font-family: 'Roboto';
    src: url('/hotel-miranda/styles/fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Old Standard TT';
    src: url('/hotel-miranda/styles/fonts/OldStandardTT-Regular.ttf');
}

html * { box-sizing: border-box; margin: 0; padding: 0 ;  }
body { min-width: 320px;
    background-color: #FFFFFF;
}
